.text-brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.text-brand-dark {
  color: var(--color-brand-dark);
}

.text-bald {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
