@use '../utils/variables' as *;
.formats-section {
  padding: 20px 0;
  background-image: url('../images/formats_section_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    size: 64px;
    margin-bottom: 80px;
    @media screen and (max-width: $br-desktop) {
      margin-bottom: 24px;
      size: 32px;
      font-weight: 900;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;

    @media screen and (min-width: $br-tablet) {
      display: flex;
    }
  }
}
